*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what new 1rem is
  // 1rem = 10px = 62.5% of 16px (default 1rem = 16px)
  // To keep the default look-and-feel of font-size,
  // in _typography.scss we scale 'line-height: 1.7;'
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
